body {
  font-family: fantasy;
  background: rgb(248,249,250);
}

.page {
  padding: 5px 10px;

  &__header {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 20px;

    &__settings {
      margin-left: auto;
      cursor: pointer;
    }
  }

  &__body {
    display: grid;
    grid-gap: 20px;

    .my-message {
      margin-left: auto;

      .message__bottom::before {
        top: 50%;
        right: -10px;
        border-left: 10px solid #cccdd9;
      }
    }
    
    .other-message {
      margin-right: auto;

      .message__bottom::before {
        top: 50%;
        left: -10px;
        border-right: 10px solid #cccdd9;
      }
    }

    .message {
      &__head {
        display: flex;

        &__sent-date {
          margin-left: 10px;
        }
      }

      &__bottom {
        position: relative;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
        padding: 20px 16px;
        border-radius: 4px;
        color: #505370;
        line-height: 12px;
        background-color: #cccdd9;
        max-width: 300px;
        overflow-wrap: break-word;
        line-height: 20px;
  
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
        
        &__image {
          display: flex;
          height: 100px;
          object-fit: contain;
          margin: 0 auto;
        }
      }
    }

    .empty-text {
      text-align: center;
      font-size: 30px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-top: 100px;

    &__send {
      cursor: pointer;
    }

    input {
      background-color: rgba(243,244,252,.56);
      border-radius: 6px;
      border: 1px solid #dedede;
      padding: 6px 10px 9px;
    }
  }
}